<article class="articulo-1">
    <section class="seccion-imagen">
        <img class="imagen-articulo" src="./images/<%= producto.image %>" alt="imagen de articulo">
    </section>
    <section class="seccion-contenido">
        <div class="box-articulo">
            <i class="fas fa-truck" id="shipping"></i>
            <div class="precio-descuento-articulo">
                <p class="precio-articulo">$<%= producto.price %></p>
                <p class="descuento-articulo"></p>
            </div>
            <h3 class="descripcion-articulo"><%= producto.name %></h3>
            <button class="boton-compra"><a href="/productDetail">Comprar</a></button>
            <button class="boton-carro"><a href="/productCart"><i id="iconos-barra"
                        class="fas fa-shopping-cart"></i></a></button>
        </div>
    </section>
</article>