<%- include('./partials/head', {title: 'Detalle de producto - La Casa de la Musica' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <h3 class="titulo-login">CREAR UN PRODUCTO</h3>

                <form action="/products" method="POST" class="formulario-login" enctype="multipart/form-data">
                    <div class="primera-parte">
                        <div class="casillero">
                            <label for="name" class="label-1">Nombre del producto:</label>
                            <input type="text" name="name" class="input-1">
                        </div>
                        <div class="casillero">
                            <label for="price" class="label-1">Precio del producto:</label>
                            <input type="text" name="price" class="input-1">
                        </div>
                    </div>
                    <div class="casillero">
                        <label for="category" class="label-1">Categoría:</label>
                        <select name="category" id="category" class="input-select">
                            <option value="">Elegí</option>
                            <option value="main-top">Nuevos Productos</option>
                            <option value="main-bottom">Ofertas Destacadas</option>
                        </select>
                    </div>
                    <div class="casillero">
                        <label for="classification" class="label-1">Clasificacion:</label>
                        <select name="classification" id="classification" class="input-select">
                            <option value="">Elegí</option>
                            <option value="guitars">Guitarras</option>
                            <option value="bass">Bajos</option>
                            <option value="accesories">Accesorios</option>
                            <option value="audio">Audio</option>
                            <option value="services">Servicios</option>
                        </select>
                    </div>
                    <div class="casillero">
                        <label for="type" class="label-1">Tipo de producto:</label>
                        <input type="text" name="type" class="input-1">
                    </div>
                    <div class="casillero">
                        <label for="description" class="label-1">Descipción:</label>
                        <textarea name="description" id="description" class="input-textarea"></textarea>
                    </div>

                    <div class="linea-ciudad">
                        <div class="casillero">
                            <label for="imagen1" class="label-1">Imagen para home page:</label>
                            <input type="file" name="image1" class="input-file">
                        </div>
     
                    </div>
                    <div class="casillero">
                        <button type="submit" class="boton-login">CREAR PRODUCTO</button>
                    </div>
                </form>
            </main>






            <%- include('./partials/footer') %>
    </body>

    </html>