<%- include('./partials/head', {title: 'Todos nuestros productos - La Casa de la Musica' }) %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <h3 class="title-allproducts">Todos nuestros productos</h3>
                <section class="contenedor-articulos">
                    <!-- TODOS LOS PRODUCTOS-->

                    <% products.forEach((product) => { %>
                        <% if (product.category_id) { %>
                            <%- include('./partials/productCard', {product : product}) %>
                                <% }}) %>
                </section>
                <form action="/products/create" method="GET" class="form-boton-allproducts">
                    <button type="submit" class="boton-allproducts">CREAR PRODUCTO</button>
                </form>

            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>