<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="carousel-fotos" align="center">
            <div><img class="imagen-carousel" src="/images/instrumentos-1.jpg" alt=""></div>
            <div><img class="imagen-carousel" src="/images/instrumentos-2.jpg" alt=""></div>
            <div><img class="imagen-carousel" src="/images/instrumentos-3.jpg" alt=""></div>
        </div>
        <h3>Nuevos Productos</h3>
        <section class="contenedor-articulos">
            <article class="articulo-1">
                <section class="seccion-imagen">
                    <img class="imagen-articulo" src="./images/guitarra-1.jpg" alt="cory wang stratocaster">
                </section>
                <section class="seccion-contenido">
                    <div class="box-articulo">
                        <i class="fas fa-truck" id="shipping"></i>
                        <div class="precio-descuento-articulo">
                            <p class="precio-articulo">$195.770</p>
                            <p class="descuento-articulo"></p>
                        </div>
                        <h3 class="descripcion-articulo">Cory Wong Stratocaster®</h3>
                        <button class="boton-compra"><a href="/productDetail">Comprar</a></button>
                        <button class="boton-carro"><a href="/productCart"><i id="iconos-barra"
                                    class="fas fa-shopping-cart"></i></a></button>
                    </div>
                </section>
            </article>
            <article class="articulo-2">
                <section class="seccion-imagen">
                    <img class="imagen-articulo" src="./images/guitarra-2.jpg" alt="cory wang stratocaster">
                </section>
                <section class="seccion-contenido">
                    <div class="box-articulo">
                        <i class="fas fa-truck" id="shipping"></i>
                        <div class="precio-descuento-articulo">
                            <p class="precio-articulo">$245.230</p>
                            <p class="descuento-articulo"></p>
                        </div>
                        <h3 class="descripcion-articulo">Noventa Stratocaster®</h3>
                        <button class="boton-compra"><a href="/productDetail">Comprar</a></button>
                        <button class="boton-carro"><a href="/productCart"><i id="iconos-barra"
                                    class="fas fa-shopping-cart"></i></a></button>
                    </div>
                </section>
            </article>
        </section>
        <h3>OFERTAS DESTACADAS</h3>
        <section class="contenedor-articulos-ofertas">
            <article class="articulo-3">
                <section class="seccion-imagen">
                    <img class="imagen-articulo" src="./images/pedal-1.jpg" alt="cory wang stratocaster">
                </section>
                <section class="seccion-contenido">
                    <div class="box-articulo">
                        <i class="fas fa-truck" id="shipping"></i>
                        <div class="precio-descuento-articulo">
                            <p class="precio-articulo">$9819</p>
                            <p class="descuento-articulo"></p>
                        </div>
                        <h3 class="descripcion-articulo">Micro Pedal Mooer Drive Mki</h3>
                        <button class="boton-compra"><a href="/productDetail">Comprar</a></button>
                        <button class="boton-carro"><a href="/productCart"><i id="iconos-barra"
                                    class="fas fa-shopping-cart"></i></a></button>
                    </div>
                </section>
            </article>
            <article class="articulo-4">
                <section class="seccion-imagen">
                    <img class="imagen-articulo" src="./images/pedal-2.jpg" alt="cory wang stratocaster">
                </section>
                <section class="seccion-contenido">
                    <div class="box-articulo">
                        <i class="fas fa-truck" id="shipping"></i>
                        <div class="precio-descuento-articulo">
                            <p class="precio-articulo">$10959</p>
                            <p class="descuento-articulo"></p>
                        </div>
                        <h3 class="descripcion-articulo">Pedal De Efecto Mooer</h3>
                        <button class="boton-compra"><a href="/productDetail">Comprar</a></button>
                        <button class="boton-carro"><a href="/productCart"><i id="iconos-barra"
                                    class="fas fa-shopping-cart"></i></a></button>
                    </div>
                </section>
            </article>
            <article class="articulo-5">
                <section class="seccion-imagen">
                    <img class="imagen-articulo" src="./images/mic-1.jpg" alt="cory wang stratocaster">
                </section>
                <section class="seccion-contenido">
                    <div class="box-articulo">
                        <i class="fas fa-truck" id="shipping"></i>
                        <div class="precio-descuento-articulo">
                            <p class="precio-articulo">$25861</p>
                            <p class="descuento-articulo"></p>
                        </div>
                        <h3 class="descripcion-articulo">Microfono Condenser Samson</h3>
                        <button class="boton-compra"><a href="/productDetail">Comprar</a></button>
                        <button class="boton-carro"><a href="/productCart"><i id="iconos-barra"
                                    class="fas fa-shopping-cart"></i></a></button>
                    </div>
                </section>
            </article>
            <article class="articulo-6">
                <section class="seccion-imagen">
                    <img class="imagen-articulo" src="./images/mic-2.jpg" alt="cory wang stratocaster">
                </section>
                <section class="seccion-contenido">
                    <div class="box-articulo">
                        <i class="fas fa-truck" id="shipping"></i>
                        <div class="precio-descuento-articulo">
                            <p class="precio-articulo">$18602</p>
                            <p class="descuento-articulo"></p>
                        </div>
                        <h3 class="descripcion-articulo">Microfono Corbatero</h3>
                        <button class="boton-compra"><a href="/productDetail">Comprar</a></button>
                        <button class="boton-carro"><a href="/productCart"><i id="iconos-barra"
                                    class="fas fa-shopping-cart"></i></a></button>
                    </div>
                </section>
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/slick/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel-fotos').slick({
                autoplay: true,
            });

        });
    </script>
</body>

</html>