<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inciar sesion - La Casa de la Musica</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/js/slick/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/js/slick/slick/slick-theme.css" />
</head>

<body>
    <header class="header-principal">
        <div class="logo">
            <a href="/"><img class="imagen-logo" src="/images/logo.jpg" alt="logo de Casa de La Musica"></a>
        </div>
        <nav class="barra-navegacion">
            <ul class="barra-items">
                <li><a class="items-noshow-mobile" href="#">Guitarras <i class="fas fa-caret-down"></i></a></li>
                <li><a class="items-noshow-mobile" href="#">Bajos<i class="fas fa-caret-down"></i></a></li>
                <li><a class="items-noshow-mobile" href="#">Accesorios <i class="fas fa-caret-down"></i></a></li>
                <li><a class="items-noshow-mobile" href="#">Audio <i class="fas fa-caret-down"></i></a></li>
                <li><a class="items-noshow-mobile" href="#">Servicios <i class="fas fa-caret-down"></i></a></li>
                <li><a class="items-show-mobile" href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a class="items-show-mobile" href="#"><i class="fas fa-search"></i></a></li>
                <li><a class="items-show-mobile" href="/login"><i class="fas fa-user-circle"></i></a></li>
                <li><a class="boton-sandwich" href="#"><i class="fas fa-bars"></i></a></i></a></li>
            </ul>
        </nav>
    </header>

    <main>





        
    </main>


    <footer class="footer">
        <div>
            <a href="/"><img class="imagen-logo-footer" src="/images/logo.jpg" alt="logo de Casa de La Musica"></a>
        </div>
        <nav class="barra-navegacion-footer">
            <ul class="barra-items-footer">
                <h3>PRODUCTOS</h3>
                <li><a class="items-footer" href="#">Guitarras</a></li>
                <li><a class="items-footer" href="#">Bajos</a></li>
                <li><a class="items-footer" href="#">Accesorios</a></li>
                <li><a class="items-footer" href="#">Audio</a></li>
            </ul>
            <ul class="barra-items-footer">
                <h3>EMPRESA</h3>
                <li><a class="items-footer" href="#">Acerca de</a></li>
                <li><a class="items-footer" href="#">Contacto</a></li>
                <li><a class="items-footer" href="#">Sucursales</a></li>
                <li><a class="items-footer" href="#">Noticias</a></li>
            </ul>
            <ul class="barra-items-footer">
                <h3>SERVICIOS</h3>
                <li><a class="items-footer" href="#">Soporte tecnico</a></li>
                <li><a class="items-footer" href="#">Garantia</a></li>
                <li><a class="items-footer" href="#">Manuales</a></li>
            </ul>
        </nav>
    </footer>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/slick/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel-fotos').slick({
                autoplay: true,
            });

        });
    </script>
</body>

</html>