<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras - La Casa de la Musica</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/js/slick/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/js/slick/slick/slick-theme.css" />
    <link rel="shortcut icon" href="/images/logo-pestania.ico"/> 
</head>

<body>
    <div class="top-bar">..</div>
    <header class="header-principal">
        <div class="logo">
            <a href="/"><img class="imagen-logo" src="/images/logo.png" alt="logo de Casa de La Musica"></a>
        </div>
        <nav class="barra-navegacion">
            <ul class="barra-items">
                <li><a class="items-noshow-mobile" href="#">Guitarras</a></li>
                <li><a class="items-noshow-mobile" href="#">Bajos</a></li>
                <li><a class="items-noshow-mobile" href="#">Accesorios</a></li>
                <li><a class="items-noshow-mobile" href="#">Audio</a></li>
                <li><a class="items-noshow-mobile-last" href="#">Servicios</a></li>
                <li><a class="items-show-mobile" href="/productCart"><i id="iconos-barra"
                            class="fas fa-shopping-cart"></i></a></li>
                <li><a class="items-show-mobile" href="#"><i id="iconos-barra" class="fas fa-search"></i></a></li>
                <li><a class="items-show-mobile" href="/login"><i id="iconos-barra" class="fas fa-user-circle"></i></a>
                </li>
                <li><a class="boton-sandwich" href="#"><i id="iconos-barra" class="fas fa-bars"></i></a></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="carrito-de-compras">
            <div class="titulo-carro-compras">
                <h3 class="titulo-login">CARRITO DE COMPRAS</h3>
            </div>
            <div class="producto-carro-compras">
                <div>
                    <img src="/images/product-default.png" alt="" width="70px" class="fotos-carrito">
                </div>
                <div class="datos-carro-compras">
                    <div class="datos-arriba">
                        <p>Nombre del producto</p>
                        <p>$0.00</p>
                    </div>
                    <div class="datos-abajo">
                        <a href="#"><i id="icono-carrito" class="fas fa-plus"></i></a>
                        <p class="cantidad-carrito">0</p>
                        <a href="#"><i id="icono-carrito" class="fas fa-minus"></i></a>
                        <a href="#"><i id="icono-carrito" class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="producto-carro-compras">
                <div>
                    <img src="/images/product-default.png" alt="" width="70px" class="fotos-carrito">
                </div>
                <div class="datos-carro-compras">
                    <div class="datos-arriba">
                        <p>Nombre del producto</p>
                        <p>$0.00</p>
                    </div>
                    <div class="datos-abajo">
                        <a href="#"><i id="icono-carrito" class="fas fa-plus"></i></a>
                        <p class="cantidad-carrito">0</p>
                        <a href="#"><i id="icono-carrito" class="fas fa-minus"></i></a>
                        <a href="#"><i id="icono-carrito" class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="producto-carro-compras">
                <div>
                    <img src="/images/product-default.png" alt="" width="70px" class="fotos-carrito">
                </div>
                <div class="datos-carro-compras">
                    <div class="datos-arriba">
                        <p>Nombre del producto</p>
                        <p>$0.00</p>
                    </div>
                    <div class="datos-abajo">
                        <a href="#"><i id="icono-carrito" class="fas fa-plus"></i></a>
                        <p class="cantidad-carrito">0</p>
                        <a href="#"><i id="icono-carrito" class="fas fa-minus"></i></a>
                        <a href="#"><i id="icono-carrito" class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="suma-compra">
                <div class="subtotal">
                    <p>SUBTOTAL: </p>
                    <p>$0.00</p>
                </div>
                <div class="envio">
                    <p>COSTO DE ENVIO: </p>
                    <p>$0.00</p>
                </div>
            </div>
            <div class="suma-compra">
                <div class="subtotal">
                    <p>TOTAL: </p>
                    <p>$0.00</p>
                </div>
            </div>
            <div>
                <button class="boton-finalizar-compra">CONTINUAR COMPRA</button>
            </div>

        </div>

    </main>
    <footer class="footer">
        <div class="imagen-logo-footer-div">
            <a href="/"><img class="imagen-logo-footer" src="/images/logo.png" alt="logo de Casa de La Musica"></a>
        </div>
        <nav class="barra-navegacion-footer">
            <ul class="barra-items-footer">
                <h3 class="h3-footer">PRODUCTOS</h3>
                <li class="items-footer"><a href="#">Guitarras</a></li>
                <li class="items-footer"><a href="#">Bajos</a></li>
                <li class="items-footer"><a href="#">Accesorios</a></li>
                <li class="items-footer"><a href="#">Audio</a></li>
            </ul>
            <ul class="barra-items-footer">
                <h3 class="h3-footer">EMPRESA</h3>
                <li class="items-footer"><a href="#">Acerca de</a></li>
                <li class="items-footer"><a href="#">Contacto</a></li>
                <li class="items-footer"><a href="#">Sucursales</a></li>
                <li class="items-footer"><a href="#">Noticias</a></li>
            </ul>
            <ul class="barra-items-footer">
                <h3 class="h3-footer">SERVICIOS</h3>
                <li class="items-footer"><a href="#">Soporte tecnico</a></li>
                <li class="items-footer"><a href="#">Garantia</a></li>
                <li class="items-footer"><a href="#">Manuales</a></li>
            </ul>
        </nav>



    </footer>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/slick/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel-fotos').slick({
                autoplay: true,
            });

        });
    </script>
</body>

</html>