<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto - La Casa de la Musica</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/js/slick/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/js/slick/slick/slick-theme.css" />
    <link rel="shortcut icon" href="/images/logo-pestania.ico"/> 
</head>

<body>
    <div class="top-bar">..</div>
    <header class="header-principal">
        <div class="logo">
            <a href="/"><img class="imagen-logo" src="/images/logo.png" alt="logo de Casa de La Musica"></a>
        </div>
        <nav class="barra-navegacion">
            <ul class="barra-items">
                <li><a class="items-noshow-mobile" href="#">Guitarras</a></li>
                <li><a class="items-noshow-mobile" href="#">Bajos</a></li>
                <li><a class="items-noshow-mobile" href="#">Accesorios</a></li>
                <li><a class="items-noshow-mobile" href="#">Audio</a></li>
                <li><a class="items-noshow-mobile-last" href="#">Servicios</a></li>
                <li><a class="items-show-mobile" href="/productCart"><i id="iconos-barra"
                            class="fas fa-shopping-cart"></i></a></li>
                <li><a class="items-show-mobile" href="#"><i id="iconos-barra" class="fas fa-search"></i></a></li>
                <li><a class="items-show-mobile" href="/login"><i id="iconos-barra" class="fas fa-user-circle"></i></a>
                </li>
                <li><a class="boton-sandwich" href="#"><i id="iconos-barra" class="fas fa-bars"></i></a></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="detalle-producto">
            <p class="clasificacion-productos"> <a href="">CATEGORIAS</a> > <a href="">GUITARRAS</a> > <a
                    href="">ELECTRICAS</a> > <a href="">NOVENTA STRATOCASTER</a></p>
            <div class="titulo-2">
                <h2 class="titulo-pagina-articulo">NOVENTA STRATOCASTER®</h2>
                <div class="iconos-titulo">
                    <p><i class="fas fa-cart-plus"></i></p>
                    <p class="icono-compartir"><i class="fas fa-share-alt"></i></p>
                </div>
            </div>
            <img class="imagen-articulo-detalle" src="/images/fender-1.jpg" alt="noventa-stratocaster">
            <div class="detalle-1">
                <p class="acerca-de">SOBRE ESTE PRODUCTO:</p>
                <p class="acerca-de-detalle">La Noventa Stratocaster® es una máquina de tonos autorizada, con pastillas
                    Noventa de bobina simple,
                    controles de tono y volumen maestro y un puente Strat rígido, su llamativa buena apariencia se
                    combina
                    con
                    la mordida de rango medio, agudos nítidos y graves suaves de las pastillas Noventa.</p>
                <div class="footer-producto">
                    <p class="precio-articulo-detalle">$245.230</p>
                    <div class="botones-detalle">
                        <button class="boton-compra-detalle"><a href="/productDetail">Comprar</a></button>
                        <button class="boton-carro-detalle"><a href="/productCart"><i id="iconos-barra"
                                    class="fas fa-shopping-cart"></i></a></button>
                    </div>
                </div>
            </div>
            <div class="detalle-2">
                <div class="descripcion-2">
                    <p class="acerca-de-2">SOBRE ESTE PRODUCTO:</p>
                    <p class="acerca-de-detalle-2">La Noventa Stratocaster® es una máquina de tonos autorizada, con
                        pastillas
                        Noventa de bobina simple,
                        controles de tono y volumen maestro y un puente Strat rígido, su llamativa buena apariencia se
                        combina
                        con
                        la mordida de rango medio, agudos nítidos y graves suaves de las pastillas Noventa.</p>
                </div>
                <div class="footer-producto-2">
                    <p class="precio-articulo-detalle">$245.230</p>
                    <div class="botones-detalle-2">
                        <button class="boton-compra"><a href="/productDetail">Comprar</a></button>
                        <button class="boton-carro"><a href="/productCart"><i id="iconos-barra"
                                    class="fas fa-shopping-cart"></i></a></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="imagen-logo-footer-div">
            <a href="/"><img class="imagen-logo-footer" src="/images/logo.png" alt="logo de Casa de La Musica"></a>
        </div>
        <nav class="barra-navegacion-footer">
            <ul class="barra-items-footer">
                <h3 class="h3-footer">PRODUCTOS</h3>
                <li class="items-footer"><a href="#">Guitarras</a></li>
                <li class="items-footer"><a href="#">Bajos</a></li>
                <li class="items-footer"><a href="#">Accesorios</a></li>
                <li class="items-footer"><a href="#">Audio</a></li>
            </ul>
            <ul class="barra-items-footer">
                <h3 class="h3-footer">EMPRESA</h3>
                <li class="items-footer"><a href="#">Acerca de</a></li>
                <li class="items-footer"><a href="#">Contacto</a></li>
                <li class="items-footer"><a href="#">Sucursales</a></li>
                <li class="items-footer"><a href="#">Noticias</a></li>
            </ul>
            <ul class="barra-items-footer">
                <h3 class="h3-footer">SERVICIOS</h3>
                <li class="items-footer"><a href="#">Soporte tecnico</a></li>
                <li class="items-footer"><a href="#">Garantia</a></li>
                <li class="items-footer"><a href="#">Manuales</a></li>
            </ul>
        </nav>



    </footer>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/slick/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.slider-producto').slick({
                autoplay: true,
            });

        });
    </script>
</body>

</html>