<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <h3 class="titulo-login">CREAR TU CUENTA</h3>

        <form class="formulario-login" action="">
            <div class="primera-parte">
                <div class="casillero">
                    <label for="nombre" class="label-1">Nombre:</label>
                    <input type="text" name="nombre" class="input-1" required>
                </div>
                <div class="casillero">
                    <label for="apellid" class="label-1">Apellido:</label>
                    <input type="text" name="apellido" class="input-1" required>
                </div>
            </div>
            <div class="casillero">
                <label for="direccion" class="label-1">Direccion:</label>
                <input type="text" name="direccion" class="input-1" required>
            </div>
            <div class="linea-ciudad">
                <div class="casillero">
                    <label for="ciudad" class="label-1">Ciudad:</label>
                    <input type="text" name="ciudad" class="input-ciudad" required>
                </div>
                <div class="casillero">
                    <label for="codigo-postal" class="label-1">Codigo Postal:</label>
                    <input type="text" name="codigo-postal" class="input-cp" required>
                </div>
            </div>
            <div class="casillero">
                <label for="email" class="label-1">Correo electronico:</label>
                <input type="email" name="email" class="input-1" required>
            </div>
            <div class="linea-pass">
                <div class="casillero">
                    <label for="password" class="label-1">Contraseña:</label>
                    <input type="password" name="password" class="input-pass" required>
                </div>
                <div class="casillero">
                    <label for="password" class="label-1">Confirmar contraseña:</label>
                    <input type="password" name="password" class="input-pass" required>
                </div>
            </div>
            <div class="casillero">
                <button type="submit" class="boton-login">CREAR CUENTA</button>
            </div>
        </form>
        <div class="pie-login">
            <p class="pie-crear">Ya tienes cuenta?<a href="/login"><button type="submit" class="boton-crear">INCIAR
                        SESION</button></a></p>
        </div>





    </main>
    <%- include('./partials/footer') %>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/slick/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel-fotos').slick({
                autoplay: true,
            });

        });
    </script>
</body>

</html>