* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    background-color: #ADB5BD;
}

main {
    background-color: #E9ECEF;
}

h3 {
    text-align: center;
    margin: 30px 0 30px 0;
}

a {
    text-decoration: none;
    color: black;
}

/* ---------- BARRA SUPERIOR DE NAVEGACION ---------- */

header {
    background-color : #343a40;
}

.top-bar {
    display: none;
    width: 100%;
    height: 35px;
    background-color: #212529;
}

.barra-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

.header-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 20px;
}

/* ---------- LOGO BARRA SUPERIOR ---------- */

.imagen-logo {
    margin-left: -5px;
    border-radius: 20px;
    width: 150px;
}

/* ---------- ITEMS DE BARRA DE NAVEGACION OCULTOS EN VERSION MOBILE ---------- */

.items-noshow-mobile {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    display: none;
    color: white;
    text-decoration: none;
    margin: 3px;
    margin-right: 0px;
    padding: 9px;
    border-right: 3px solid white;
}


/* ---------- ULTIMO DE ITEMS OCULTOS EN VERSION MOBILE (PARA EVITAR BORDE DERECHO) ---------- */

.items-noshow-mobile-last {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    display: none;
    color: white;
    text-decoration: none;
    margin: 3px;
    margin-right: 0px;
    padding: 9px;
}


/* ---------- ITEMS DE BARRA DE NAVEGACION A MOSTRAR VERSION MOBILE Y DESKTOP ---------- */

.items-show-mobile, .boton-sandwich {
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin: 3px;
    padding: 9px;
    border: 2px solid white;
    border-radius: 4px;
}

/* ---------- IMAGENES DE CAROUSEL DE FOTOS (SCRIPT DE JAVASCRIPT EN EL PIE DE PAGINA) ---------- */

.imagen-carousel {
    width: 100%;
}

/* ---------- ARTICULOS PAGINA PRINCIPAL ---------- */

.contenedor-articulos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

/* ---------- ARTICULOS PRINCIPALES PAGINA PRINCIPAL (2) ---------- */

.articulo-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
    border: 3px solid #adb5bd;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

/* ---------- DISEÑO DE CONTENEDORES DE ARTICULOS ---------- */

.imagen-articulo {
    width: 100px;
    border-radius: 5px;
}

.seccion-imagen {
    padding: 15px;
    margin: 5px;
    margin-bottom: 15px;
}

.seccion-contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 3px solid #ADB5BD;
    width: 100%;
    background-color: #F8F9FA;
}

.precio-articulo {
    font-size: 20px;
    font-weight: 700;
}

#shipping {
    background-color: white;
    font-size: 20px;
    color: green;
    border: 1px solid green;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    margin-top: -24px;
    margin-left: 70px;
}

.boton-compra, .boton-login, .boton-crear {
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    background-color: white;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.boton-redirect-login {
    border: 2px solid black;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    background-color: white;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 20px 5px 20px 15px;
}

.boton-delete {
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    background-color: red;
    padding: 10px 5px;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.form-boton-allproducts {
    display: flex;
    justify-content: center;
}

.boton-allproducts {
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    background-color: white;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.boton-carro {
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 15px;
    background-color: #DEE2E6;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
}

/* ---------- PIE DE PAGINA ---------- */

.footer {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #212529;
    padding-bottom: 30px;
}

.imagen-logo-footer {
    margin-top: 25px;
    width: 200px;
    border-radius: 20px;
}

.barra-navegacion-footer {
    display: none;
    flex-direction: row;
    margin: 0px 30px 0 0; 
    padding-right: 100px;
    margin-bottom: 30px;
}

.barra-items-footer {
    list-style-type: none;
    margin: 0;
}

.items-footer {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

/* ---------- CARRITO DE COMPRAS ---------- */

.carrito-de-compras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo-carro-compras {
    padding: 0px 5px 0 5px;
    margin: 20px;
}

.producto-carro-compras {
    display: flex;
    align-items: center;
    height: 100px;
    width: 90%;
    border-top: 3px solid grey;
}

.datos-carro-compras {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.datos-arriba {
    margin-top: 0px;
    width: 100%;
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}

.datos-abajo {
    display: flex;
    margin-top: -25px;
    margin-left: 20px;
    justify-content: left;
    align-items: center;
}

#icono-carrito {
    margin-right: 20px;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid black;
    background-color: white;
}

.cantidad-carrito {
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}

.fotos-carrito {
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: white;
}

.suma-compra {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-weight: 700;
    background-color: #DEE2E6;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    border-top: 2px solid black; 
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px 0 10px;
}

.envio  {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    border-bottom: 2px solid black;
    font-weight: 700;
    padding: 0 10px 0 10px;
}

.boton-finalizar-compra {
    margin: 30px;
    align-self: right;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    background-color: white;
    padding: 10px 5px;
    border-radius: 5px;
}

/* ---------- FORMULARIO LOGIN ---------- */

.titulo-login {
    margin: 0;
    padding: 40px 0 0px;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    max-width: 450px;
    margin: auto;
}

.casillero {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label-1 {
    align-self: center;
    margin-bottom: 10px;
}

.input-1, .input-nombre, .input-apellido, .input-ciudad, .input-cp, .input-pass {
    height: 30px;
    border-radius: 5px;
}

.boton-login {
    width: 60%;
    margin-top: 15px;
    align-self: center;
}

.pie-login {
    text-align: center;
}

.boton-crear {
    width: 60%;
    align-self: center;
    width: 30%;
    max-width: 100px;
}

.pie-crear {
    align-items: center;
    padding: 10px;
    margin: 0;
}

.pie-crear button {
    margin-left: 10px;
}

/* ---------- PAGINA DE PRODUCTO ---------- */

.clasificacion-productos {
    font-size: 12px;
    font-weight: 700;
    padding-top: 20px;
    margin: 20px 10px;
    padding-left: 30px;
}

.titulo-pagina-articulo {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 10px;
    padding-left: 30px;
}

.imagen-articulo-detalle {
    width: 100%;
}

.acerca-de, .acerca-de-detalle {
    padding: 10px;
}

.acerca-de {
    font-weight: 700;
    line-height: 0px;
}

.acerca-de-detalle {
    text-align: justify;
}

.footer-producto {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    padding-bottom: 20px;
    align-items: center;
}

.precio-articulo-detalle {
    font-weight: 700;
    font-size: 30px;
    align-items: center;
}

.botones-detalle {
    display: flex;
}

.titulo-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

.iconos-titulo {
    display: flex;
    font-size: 25px;
    padding-right: 30px;
}

.icono-compartir {
    margin-left: 20px;
}

.boton-compra-detalle {
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    background-color: white;
    padding: 10px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.boton-carro-detalle {

    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 15px;
    background-color: #DEE2E6;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.warning-text {
    margin-top: 5px;
    font-size: 15px;
    color: red;
}



/* ---------- DESCRIPCION DE PRODUCTO VERSION DESKTOP (OCULTO EN MOBILE) ---------- */

.detalle-2 {
    display: none;
}

/* ---------- PERSONALIZACIONES INPUTS DE FORMULARIOS DE CREACION/EDICIION ---------- */

.title-allproducts {
    padding-top: 25px;
}

.input-file {
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    background-color: white;
}

.input-select {
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
}

.input-textarea {
    border: 2px solid black;
    border-radius: 5px;
    height: 200px;
}

.input-danger {
    border: 2px solid red;
}

/* ---------- MEDIA QUERY CAMBIOS PARA DISPOSITIVOS DE WIDTH MINIMO DE 480PX ---------- */

@media (min-width: 480px) {

    /* ---------- CAMBIO MARGENES BARRA DE NAVEGACION ---------- */

    .barra-items {
        margin-right: 15px;
    }

    /* ---------- CAMBIO DE ARTICULOS PAGINA PRINCIPAL ---------- */

    .articulo-1 {
        width: 40%;
        margin-bottom: 20px;
    }

    #shipping {
        margin-left: 38px;
    }
    
    /* ---------- CAMBIOS DE FUENTE CARRITO DE COMPRAS ---------- */

    .datos-arriba {
    font-size: 20px;
    }

    .imagen-logo {
        border-radius: 20px;
        width: 180px;
    }

}

/* ---------- MEDIA QUERY CAMBIOS PARA DISPOSITIVOS DE WIDTH MINIMO DE 768PX ---------- */

@media (min-width: 768px) {

    /* ---------- CAMBIOS EN LOGO DE PAGINA TITULO ---------- */

    .logo {
        margin-left: 20px;
    }

    /* ---------- CAMBIOS EN BARRA DE NAVEGACION TOP EN VERSION DESKTOP ---------- */

    .top-bar {
        display: block;
    }

    .boton-sandwich {
        display: none;
    }

    .items-noshow-mobile, .items-noshow-mobile-last {
        display: flex;
    }

    .items-show-mobile {
        display: flex;
        padding-bottom: 10px;
        align-items: center;
    }

    .items-show-mobile {
        font-size: 13px;
        color: white;
        text-decoration: none;
        margin: 3px;
        padding: 9px;
    }

    /* ---------- CAMBIOS EN SUBTITULOS DE PIE DE PAGINA ---------- */

    .footer {
        justify-content: space-between;
        align-items:flex-start;
    }

    .h3-footer {
        text-align: center;
        margin: 30px 0 10px 0;
        color: white;
    }

    .barra-navegacion-footer {
        display: flex;
        flex-direction: row;
        margin: 0px 30px 0 0; 
    }

    .imagen-logo-footer {
        margin-top: 25px;
        width: 180px;
        margin-left: 100px;
        border-radius: 20px;
    }

    /* ---------- CAMBIOS ARTICULOS DE PAGINA PRINCIPAL ---------- */

    .articulo-1 {
        width: 22%;
        
    }

    .nombre-producto {
        font-size: 40px;
    }

    /* ---------- CAMBIO CAROUSEL DE FOTOS PAGINA PRINCIPAL ---------- */
    
    .carousel-fotos {
        background-image: url("/images/logo-chico.png");
        background-repeat: repeat;
        border-bottom: 5px #212529 solid;
    }

    .imagen-carousel {
        align-items: center;
        max-width: 60%;
    }

    /* ---------- CAMBIOS PAGINA DETALLE DE PRODUCTO ---------- */

    .detalle-1 {
        display: none;
    }

    .detalle-2 {
        display: flex;
    }

    .clasificacion-productos {
        font-size: 15px;
        padding-left: 50px;
    }

    .titulo-pagina-articulo {
        font-size: 25px;
        padding-left:50px;
    }

    .iconos-titulo {
        padding-right: 50px;
    }

    .detalle-2 {
        display: flex;
        justify-content: center;
    }

    .descripcion-2 {
        border: 2px solid #212529;
        border-radius: 5px;
        width: 40%;
        padding: 10px;
        margin: 20px;
        box-shadow: 0px 0px 5px rgb(100, 100, 100);
    }

    .acerca-de-2 {
        font-size: 18px;
        font-weight: 700;
    }

    .footer-producto-2 {
        display: flex;
        flex-direction: column;
        border: 2px solid #212529;
        border-radius: 5px;
        width: 20%;
        padding: 10px;
        margin: 20px;
        box-shadow: 0px 0px 5px rgb(100, 100, 100);
        align-items: center;
    }

    .imagen-logo {
        border-radius: 20px;
        width: 180px;
    }


}