<%- include('./partials/head', {title: 'Error - La Casa de la Musica' }) %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <div class="contenedor-imagen-error">
                    <img class="imagen-error" src="/images/error-404.png" alt="logo de Casa de La Musica">
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>