<%- include('./partials/head', {title: 'Resultados de busqueda - La Casa de la Musica'}) %>

<body>
    <%- include('./partials/header') %>

    <main>
        <h3 class="search-title">RESULTADOS DE TU BUSQUEDA:</h3>
        <div class="input-pagina-busqueda">
        <div class="casillero">
        <form action="/search" method="GET">
            <label for="search" class="label-1">Buscar:</label>
            <input type="text" name="search" class="search input-1">
          </form>
        </div>
        </div>
        <section class="contenedor-articulos">
            <% if (results != '') { %>
            <!-- PRODUCTOS PRINCIPALES INDEX-->
            <% results.forEach((product) => { %>
                    <%- include('./partials/productCard', {product : product}) %>
			<% }) %>
            <% } else { %>
                <p class="mensaje-busqueda">No se encontraron resultados para tu busqueda. Proba realizando una nueva. </p>
            <% } %>    
            </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>