<%- include('./partials/head', {title: 'Iniciar sesion - La Casa de la Musica'}) %>

<body>
    <%- include('./partials/header') %>

    <main>

        <h1>Bienvenido usuario <%= user.first_name %></h1>

    </main>
    <%- include('./partials/footer') %>
</body>

</html>