<%- include('./partials/head', {title: 'Crea tu cuenta - La Casa de la Musica'}) %>

<body>
    <%- include('./partials/header') %>

    <main>
        <h3 class="titulo-login">CREAR TU CUENTA</h3>

        <form class="formulario-login" action="/users/register/" method="POST">
            <div class="primera-parte">
                <div class="casillero">
                    <label for="nombre" class="label-1">Nombre:</label>
                    <input type="text" name="first_name" class="input-1">
                </div>
                <div class="casillero">
                    <label for="apellid" class="label-1">Apellido:</label>
                    <input type="text" name="last_name" class="input-1">
                </div>
            </div>
            <div class="casillero">
                <label for="direccion" class="label-1">Direccion:</label>
                <input type="text" name="address" class="input-1">
            </div>
            <div class="linea-ciudad">
                <div class="casillero">
                    <label for="ciudad" class="label-1">Ciudad:</label>
                    <input type="text" name="city" class="input-ciudad">
                </div>
                <div class="casillero">
                    <label for="codigo-postal" class="label-1">Codigo Postal:</label>
                    <input type="text" name="zip" class="input-cp">
                </div>
            </div>
            <div class="casillero">
                <label for="email" class="label-1">Correo electronico:</label>
                <input type="email" name="email" class="input-1">
            </div>
            <div class="linea-pass">
                <div class="casillero">
                    <label for="password" class="label-1">Contraseña:</label>
                    <input type="password" name="password" class="input-pass">
                </div>
            </div>
            <div class="casillero">
                <button type="submit" class="boton-login">CREAR CUENTA</button>
            </div>
        </form>
        <div class="pie-login">
            <p class="pie-crear">Ya tienes cuenta?<a href="/login"><button type="submit" class="boton-crear">INCIAR
                        SESION</button></a></p>
        </div>





    </main>
    <%- include('./partials/footer') %>
</body>

</html>